paleta {
    color: #60bdaf;
    color: #a1d8b1;
    color: #f8f988;
    color: #f88aaf;
    color: rgb(48, 48, 48);
}


.navbar {
    background-color: #f8f988;
}

.navbar .dropdown-menu {
    background-color: #f8f988;
    border: #60bdaf solid 1px;
}

/* Estilo de color del texto */
.navbar-nav li a {
    color: #f88aaf;
    font-size: 18px;
}

/* Estilo de color del texto al pasar el mouse */
.navbar-nav li a:hover {
    color: #60bdaf;
    background-color: #f8f988;
}

.nav-link.show,
.nav-link:focus {
    color: #f88aaf !important;
}

/* BODY*/
body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(48, 48, 48);
    color: gainsboro;
    font-family: 'Roboto', sans-serif;
    position: relative;
    min-height: 100vh;
}

.cuerpo {
    padding: 6rem;
}

section {
    padding-bottom: 6rem;
}

h2 {
    color: #60bdaf;
    text-align: center;
    font-size: 30px;
}

p {
    text-align: justify;
    font-size: 18px;
    margin: 0px;
    padding-bottom: 1rem;
}

.link-contacto, .card-title {
    color: #f88aaf;
    font-size: 24px;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen-bg {
    background-image: url('img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.texto {
    padding-right: 3rem;
    padding-top: 1.5rem;
    margin-left: 45vw;
    color: rgb(48, 48, 48);
}



.col-carousel {
    max-width: 600px;
}

.formulario {
    max-width: 600px;
    border: #60bdaf solid 1px;
    border-radius: 15px;
    padding: 1rem;
    margin-top: 1rem;
}

.error-busqueda{
    color: red;
    font-size: 15px;
}



/*BOTONES*/
.btn-light {
    color: #f88aaf;
    border-color: #f88aaf;
    background-color: transparent;
}

.btn-light:hover {
    color: rgb(48, 48, 48);
    border-color: #f88aaf;
    background-color: #f88aaf;
}


/*FOOTER*/
.footer {
    display: flex;
    clear: both;
    width: 100%;
    height: 5rem;
    background-color: #a1d8b1;
    color: rgb(48, 48, 48);
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding-right: 1rem;
}